doctype html
html(lang="es")
    head
        meta(charset="utf-8" name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        title Tienda Harnina
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(type="text/css" rel="stylesheet" href="../css/catalogoEstilo.css")
    body
        header.cabecera
            a.subtitulo(href="Catalogo.html") DAM: ACCESO A DATOS
            h5.titulo Tienda Harnina
        div.contenido01
            div.medio.dadoCatalogo
                div.dado.d1.informatica
            div.medio.dadoCatalogo
                div.dado.d3.harnina


        script(src="../js/dado.js")